<head>
  <style>
  body {
    background-color: lightgrey;
  }

  .bookmark {
    text-align: center;
  }
  .bookmark_style {
    font-size: 4em;
    font-family: 'Abel';
  }
  .formclass {
    display: inline;
  }
  </style>
</head>
<body>

<ul>
  <div style="text-align: center;">
    <a href="bookmarks/create"> <button type="button">Add New Bookmark</button> </a>
  </div>
  <% @bookmarks.each do |bookmark| %>
    <div class="bookmark" id="bookmark-<%= bookmark.id %>">
      <a href="<%= bookmark.url %>" class="bookmark_style">
        <%= bookmark.title %>
      </a>
      <div>
        <form action="/bookmarks/<%= bookmark.id %>" method="post" class="formclass">
          <input type='hidden' name='_method' value='DELETE'>
          <input type="submit" value="Delete">
        </form>
        <form action="/bookmarks/<%= bookmark.id %>/edit" method="get" class="formclass">
        <input type="submit" value="Update">
        </form>
        <form action="/bookmarks/<%= bookmark.id %>/comments/new" method="get" class="formclass">
        <input type="submit" value="Add Comment">
        </form>
        <ul>
        <% bookmark.comments.each do |comment| %>
          <li><%= comment.text %></li>
        <% end %>
    </ul>
      </div>
    </div>
  <% end %>
</ul>

<%= flash[:notice] %>

</body>